/*Common Elements*/
html {
	background: #f9f9f9;
}
#wrapper h1 {
	margin-bottom: 50px;
}
#wrapper h3 {
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
#wrapper  section {
	margin-bottom: 50px;
}
#wrapper pre	{
	color: #777;
	overflow: hidden;
}
.no-inlinesvg .text {
	display: none;
}

/*Wrapper*/

#wrapper {
	width: 500px;
	margin: 0 auto;
}